* {
  box-sizing: border-box;
}

.display-on{
  display: block;
}

.display-off {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 233, 233);

  display: flex;
  flex-direction: column;
}


span{
  font-weight: bold;
}


/* HEADER */

header {
  margin: 0;
  padding: 10px;

  min-height: 60px;
  background-color: rgb(54, 112, 238);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ZONA LOGO */

.logo {
  max-height: 60px;
  margin-left: 10%;
}

.logo img {
  height: 40px;
}

/* USUARIO */

.user {
  max-height: 60px;
  margin-right: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.user input{
    max-height: 60px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.527);
    border-width: 0;
}

.user input:focus{
  outline: none;
}


.user img{
    height: 35px;
    width: 35px;
    border-radius: 100px;
    object-fit: cover;
}

#user-error{
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
}

/* ---------------------------------------- */

/* MAIN */

main{
  display: flex;
  justify-content: center;
}

.btnBlue{
  width: 100px;
  height: 40px;
  padding: 5px;
  color: white;
  /* font-style: italic; */
  font-family: "Montserrat";

  text-align: center;
  font-weight: bold;


  background-color: rgb(54, 112, 238);
  border-width: 0;
  border-radius: 5px;
}

.btnWhite{
  width: 100px;
  height: 40px;
  padding: 5px;
  color: rgb(54, 112, 238);
  /* font-style: italic; */
  font-family: "Montserrat";

  text-align: center;
  font-weight: bold;


  background-color: rgb(233, 233, 233);
  border-width: 0;
  border-radius: 5px;
}

.unfollow{
  width: 100px;
  height: 40px;
  padding: 5px;
  color: white;
  /* font-style: italic; */
  font-family: "Montserrat";

  text-align: center;
  font-size: 11px;
  font-weight: bold;


  background-color: rgb(189, 28, 28);
  border-width: 0;
  border-radius: 5px;
}

.button-blue:focus{
  background-color: rgb(163, 20, 20);
}

/* MAIN CONTAINER */

.main-container{
  width: 75%;
  margin: 50px auto;

  display: grid;
  grid-template-areas: 
  " info info info"
  "post post datos"
  "private private private";

  grid-template-columns: 1fr 1fr 1fr;

  row-gap: 50px;
  column-gap: 50px;

  justify-items: stretch;
  align-items: start;

  justify-content: center;


}

.main-container div{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}



/* INFO */

.info{
  grid-area: info;
  padding: 2%;

  justify-self: stretch;
  /* align-self: center; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  column-gap: 10px;
}

.profile-photo{
flex-grow: 1;
align-self: center;
}

.profile-photo img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info{
  flex-grow: 100;
  align-self: flex-start;
}

.profile-follow{
  flex-grow: 1;
  align-self: flex-end;
}

/* PRIVATE */

.private-profile{
  /* display: flex; */
  grid-area: private;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.private-profile img{
  width: 15%;
}

/* POST */

.post{
  grid-area: post;
  padding: 2%;



  width: 100%;
  word-wrap: break-word;

  justify-self: stretch;
  /* align-self: center; */
}



/* POST DATE */

.post-date{
  font-size: 15px;
  color: rgba(87, 87, 87, 0.678);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: start;

  margin-left: 10px;
}

.post-date p{
  margin-top: 0;
  margin-bottom: 7px;
}

/* POST FOTO */

.post-photos{
  padding: 1%;
}

.container-slider{
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  }
  .slider{
  width: 400%;
  display: flex;
  margin-left: -100%;
  }
  .slider_section{
    width: 100%;
  
  }
  .slider_img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .slider_btn{  
  /* background-color: rgba(255, 255, 255, 0.61); */
  opacity: 0.7;
  position: absolute;
  width: 1.5em;
  /* height: 90px; */
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: bold;
  font-family: monospace;
  text-align:center;
  border-radius: 100%;
  cursor: pointer;
  
  }
  .slider_btn:hover{
  background: rgba(255, 255, 255, 0.74);
  }
  .slider_btn_left{
    left: 26px;
  
  }
  .slider_btn_right{
  right: 15px;
  }

/* .post img{
  
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 700px;
  max-width: 700px; 

  border-radius: 10px;
  
    
} */

/* POST LIKES */

.post-likes{
  /* height: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
  padding: 1%;
}

.post-likes div{
  height: 100%;
}

.post-likes div p{
  margin: 0;
}

/* POST COMENTARIOS */


.post-coments{
  justify-content: center;
  align-items: center;
  
  padding: 1%;
}

.post-coments-input{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 20px;
  
}

.post-coments #coments{
  color: rgb(126, 125, 125);
  margin: 0;
}

/* .coments-fijos{
} */

.post-coments #input-comentario{
  height: 40px;
  width: 85%;
  border-radius: 7px;
  background-color: rgb(233, 233, 233);
  border-width: 0;
}

#my-coment{
  padding: 0;
}


#my-coment span{
  color: rgb(54, 112, 238);
}


#zona-error{

  padding: 0;
  margin-top: 10px;
}

/* ABOUT ME */

.about-me{
  grid-area: datos;
  
  padding: 2%;


  justify-self: stretch;
  /* align-self: center; */
}

.about-me p{
  color: rgba(87, 87, 87, 0.856);
  margin-left: 10px;
  margin-right: 10px;
}

#sobre-mi{
  margin-top: 10px;
  font-size: 20px;
}


/* modo oscuro  */

#modo-oscuro{
  background-color: white;
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 25px;
  box-shadow: inset 4px 4px 6px #cecece,
              inset -4px -4px 6px #fff;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: scale(.7);
  background-color: linear-gradient(145deg,#d8d8d8,#ffffff) ;
  border-radius: 50px;
  box-shadow: 3px 3px 8px #c4c4c4,
              -3px -3px 8px #fff;
}

#modo-oscuro.active .toggle{

  left: 40px;

}

body.active{
  background-color: #1c1d1f;
}

.zone.active, .zone.active div{
  background-color: #000000;
}



.zone.active p,.zone.active h1,.zone.active h3,.zone.active h4,.zone.active section{
  color: rgba(255, 255, 255, 0.685);
}


/* --------------------- */


@media (max-width: 768px) {
  
  /* HEADER */

  header{
    display: flex;
    flex-direction: column;
  }

  .logo{
    margin: 0;
  }

  .user{
    margin:0;
    /* row-gap: 25px; */
    flex-direction: row;
  }

  /* ---------------------- */

  /* MAIN CONTAINER */

  .main-container{
    width: 90%;
  
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    /* column-gap: 50px; */
  
    justify-items: stretch;
    align-items: center;
  
    justify-content: center;
  align-content: stretch;
  
  }

  /* INFO */

  .info{
    flex-direction: column;
    order: 1;
    width: 100%;
  }

  /* .profile-photo{
  } */

  .private-profile{
    order: 2;
  }

  .profile-info{
    margin: 0 auto;
    max-width: 100%;
  }

  .profile-info h1{
    text-align: center;
    margin: 0px;
  }

  .profile-info p{
    text-align:center;
  }

  .profile-follow{
    align-self: center;
  }

  /* ABOUT ME */

  .about-me{
    flex: 1;
    order: 2;
    width: 100%;
  }

  /* POST */

  .post{
    order: 3;
    width: 100%;
  }

  .post-date{
    font-size: 10px;
  }

  .post img{
    width: 100%;
  }

  .slider_btn{  
    opacity: 0.5;
    position: absolute;
    width: 0.5em;
    /* height: 90px; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    border-radius: 100%;
    cursor: pointer;
    
    }
}